:local {
  .player {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;

    &__controll {
      margin: 20px;
      height: 16px;
    }

    &__timeline {
      width: 20vw;
      min-width: 300px;
      display: flex;
      align-items: center;
    }
  }

  .timeline {
    &__time {
      margin: 0 15px;
    }

    &__progress-bar {
      flex: 1;
      display: flex;
      background-color: #DCDCDC;
      height: 4px;
    }
  }

  .progress-bar__line {
    position: relative;
    background-color: #7DC855;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: -5px;
      display: block;
      width: 6px;
      height: 6px;
      border: 4px solid #FFF;
      border-radius: 9px;
      box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.17);
    }
  }

  .song-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;

    &__name {
      margin: 10px;
      display: flex;
      flex-direction: column;
      color: #86939e;
      font-size: 1rem;

      &__album {
        color: #5e6977;
        font-weight: 500;
      }
    }
  }
}
