@import "~css/constants.scss";
@import "~css/mixins.scss";

:local {
  .navigation-top {
    display: flex;
    height: $nav-top-height;
    background-color: $color-bg-nav;
    box-shadow: 0px 2px 10px 0px rgba(101, 111, 119, 0.25);
    color: $color-text-nav;
    align-items: center;

    &__search {
      display: flex;
      align-items: center;
    }

    &__item {
      text-decoration: none;
      font-size: 1.5em;
      margin: 30px;
      @include link-color($color-text-nav)
    }

    &__logo__container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $nav-left-width;
      min-width: $nav-left-min-width;
    }

    &__search {
      input {
        margin: 10px;
        background-color: transparent;
        color: #fff;
        font-size: 1.5em;

        &, &:focus {
          border: none;
          outline: 0;
        }
      }
    }
    &__right {
      display: flex;
      align-items: center;
      margin-left: auto;
      * {
        margin: 10px;
      }
    }
  }
  .user-profile {
    display: flex;
    align-items: center;
    &__open {
      cursor: pointer;
    }
  }
}
