@import '~css/constants.scss';

:local {
  .item-content {
    height: 240px;
    display: flex;
    flex-direction: column;

    &__player {
      min-height: 40px;
    }
    &__playlist {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
  .playlist {
    &__shadow-top {
      z-index: 100;
      position: absolute;
      top: 0;
      height: 80px;
      width: 100%;
      background-image: linear-gradient(0deg, transparent 0%, white 100%);
    }
    &__shadow-bottom {
      z-index: 100;
      position: absolute;
      bottom: 0;
      height: 80px;
      width: 100%;
      background-image: linear-gradient(180deg, transparent 0%, white 100%);
    }
    &__song {
      display: flex;
      min-height: 25px;
      align-items: center;
      font-size: 0.85em;
    }
  }
  .song {
    &__index {
      margin: 0 10px;
      min-width: 30px;
      text-align: center;
    }
    &__name {
      font-weight: 500;
    }
    &__author {

    }
    &__info {
      display: flex;
      align-items: center;
      flex: 1;
      overflow-x: hidden;
    }
    &__time {
      margin: 10px;
      padding-left: auto;
    }
  }

  .overlay-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__info {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 20px;
    }
    &__actions {
      min-height: 30px;
      padding: 0 20px;
    }
  }
  .info {
    &__name {
      font-size: 1.2em;
      color: #43484d;
      margin-top: 15px;
    }
    &__subtitle {
      color: #86939e;
      margin-top: 10px;
      font-size: 0.8em;
    }
  }
}
