$color-bg-main: #FFF;
$color-bg-secondary: #F2F2F2;
$color-bg-nav: #2F4050;
$color-text-nav: #D9D9D9;
$color-text-nav-active: #0F0;
$color-text-nav-selected: #FFF;

$color-bg-button: #A6E50F;

$color-bg-active: $color-bg-button;
$color-text-link: #4DA1FF;
