@import '~css/constants.scss';

:local {
  .item-info {
    display: flex;
    align-items: center;

    &__link {
      color: #4da1ff;
      text-decoration: none;
    }

    &__image {
      margin: 5px;
    }
  }

  .info {
    font-size: 14px;
    color: #bdc6cf;
  }
}
