@import "~css/constants.scss";

:local {
  .navigation-left {
    flex: 1;
    width: $nav-left-width;
    min-width: $nav-left-min-width;
    background-color: $color-bg-nav;
    color: $color-text-nav;
    font-size: 1.3rem;

    &__link {
      display: flex;
      flex-direction: column;
      height: 72px;
      padding-top: 12px;
      align-items: center;
      text-decoration: none;

      &, &:visited {
        color: $color-text-nav;
      }
      &:hover {
        color: $color-text-nav-selected;
      }
      &--active, &--active:visited {
        color: $color-text-nav-active;
        border-left: 1px solid $color-text-nav-active;
      }
    }
  }
  .link {
    &__image {
      height: 45px;
    }
    &__name {

    }
  }
}
